body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  --header-height: 6em;
  --action-button-height: 3em;
  --horizontal-action-buttons-width: 48em;
  --action-button-width: calc(var(--horizontal-action-buttons-width) / 3);
  --action-buttons-height: var(--action-button-height);
  --action-margin: 2em;
  --action-height: calc(var(--action-margin) + var(--action-buttons-height));
  --map-height: calc(100vh - var(--header-height) - var(--action-height));
  min-width: var(--action-button-width);
}

.game-header {
  background-color: blue;
  height: var(--header-height);
}
.game-header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}
.game-header .header-title-box {
  display: inline-block;
}
.game-header .header-title-box .header-title {
  font-size: 1.1em;
}
.game-header .header-title-box .header-details {
  font-size: 0.8em;
}
.game-header .header-score {
  margin: auto 0 auto auto;
}

.game-map {
  height: var(--map-height);
  background-color: red;
}

.game-action {
  height: var(--action-height);
  background-color: green;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.game-action ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.game-action ul li {
}
.game-action ul li button {
  --action-button-margin: 0.5em;
  font-size: 1em;
  width: calc(var(--action-button-width) - var(--action-button-margin));
  margin: var(--action-button-margin);
}

@media (max-width: 48em) {
  .game {
    --action-buttons-height: calc(3 * var(--action-button-height));
  }
  .game-action ul {
    flex-direction: column;
  }
}

@media (max-width: 35rem) {
  .game {
    --header-height: 5em;
  }
  .game-header .header-title-box .header-details {
    display: none;
  }
}
