body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.app {
  /* background-color: #fffcf0; */
  background-color: #454545;
  color: #fffcf0;
  display: grid;
  grid-template-rows: 1fr auto;

  --header-height: 6em;
  --footer-height: 6em;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  --horizontal-action-buttons-width: 48em;

  --button-width: calc(var(--horizontal-action-buttons-width) / 3);
  --button-height: 3em;
  --button-margin: 0.5em;

  --action-buttons-height: var(--button-height);
  --action-margin: 2em;
  --action-height: calc(var(--action-margin) + var(--action-buttons-height));
  --map-height: calc(var(--main-height) - var(--action-height));

  min-width: var(--button-width);
  height: 100vh;
}

a {
  color: #fffcf0;
  /* text-decoration: none; */
}
a:visited {
  color: #fffcf0;
}
a:focus,
a:hover {
  /* text-decoration: underline; */
}

.header {
  height: var(--header-height);
  grid-row-start: 0;
  grid-row-end: 1;
}
.header > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1em;
}
.header .header-title-box {
  display: inline-block;
}
.header .header-title-box .header-title {
  font-size: 1.2em;
}
.header .header-title-box .header-details {
  font-size: 0.9em;
}
.header .score {
  margin: auto 0 auto auto;
}

.footer {
  height: var(--footer-height);
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p::before {
  content: "፨";
  display: block;
  margin: 0.5em;
}

ul li button {
  font-size: 1em;
  width: calc(var(--button-width) - var(--button-margin));
  margin: var(--button-margin);
}

.level-selector ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.game-action {
  height: var(--action-height);
  display: flex;
  flex-direction: column;
  align-content: center;
}
.game-action ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.game-action ul li.correct button::before {
  content: "✓ ";
  color: green;
}
.game-action ul li.wrong button::before {
  content: "❌ ";
  color: red;
}

.game-map {
  height: var(--map-height);
  position: relative;
}
.game-map .map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 48em) {
  .app {
    --action-buttons-height: calc(3 * var(--button-height));
  }
  .game-action ul {
    flex-direction: column;
  }
}

@media (max-width: 35rem) {
  .app {
    --header-height: 5em;
  }
  .header .header-title-box .header-details {
    display: none;
  }
}
