body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  --header-height: 6em;
  --button-height: 30px;
  --action-height: var(--button-height);
  --map-height: calc(100vh - var(--header-height) - var(--action-height));
}

.game-header {
  background-color: blue;
  height: var(--header-height);
}
.game-header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}
.game-header .header-title-box {
  display: inline-block;
}
.game-header .header-title-box .header-title {
  font-size: 1.1em;
}
.game-header .header-title-box .header-details {
  font-size: 0.8em;
}
.game-header .header-score {
  margin: auto 0 auto auto;
}
.game-map {
  height: var(--map-height);
  background-color: red;
}
.game-action {
  height: var(--action-height);
  background-color: green;
}

@media (orientation: portrait) {
  /* vertical screen -> vertical list of buttons */
  .game {
    --action-height: calc(3 * var(--button-height));
  }
}

@media (max-width: 35rem) {
  .game {
    --header-height: 5em;
  }
  .game-header .header-title-box .header-details {
    display: none;
  }
}
